<div class="track-box col-xs-12 col-sm-12 col-md-6 mb-4">
	<a href="/tracks/webdev">
		<div class="h-100 box-shadow hvr-float" style="background: white; border-left: #00008b 12px solid;">
		<div class="track-image-box col-5 d-none d-md-block float-left" style="background-image: url(/static/my-theme/images/webdev.png); padding-right: 50px;">
		</div>
		<div class="track-description-box col-md-7 col-xs-12 parent text-center text-md-left text-lg-left float-right p-0 h-100">
			<div class="track-title-box mb-2">
			<p class="track-title">Web Development</p>
			</div>
			<div>
			<p class="track-description">Immerse yourself with comprehensive web development skills.</p>
			</div>
		</div>
		</div>
	</a>
	</div>
	
	