<!--<div class="noot" style="padding-top: 2%;"> </div>
<div class="container container-cover" style="padding-bottom: 0;min-width:0;padding-top:2%; background:white">
<h2 style="margin-bottom:0;padding-left: 15px;font-weight: 400;font-size: 1.5em;">Featured Tracks</h2>
</div>
<div class="container container-cover" style="height:20em; min-width:20em;background:white;">
	<div class="" style="height: 92%">
		<div class="col-md-12 h-100">
			<div class="row h-100">
			    <%include file="cardlggep.html"/>
			    <%include file="cardlgmachine-learning.html"/>
			    <%include file="cardlgdecision-making.html"/>
			    <%include file="cardlgbusiness-analytics.html"/>			                            
                        </div>
		</div>
	</div>
</div>-->

<div class="noot" style="padding-top: 2%;"> </div>
<div class="container container-cover position-relative py-3" style="min-width:0;padding-top:2%; background:white">
<h2 style="margin-bottom:0;padding-left: 15px;font-weight: 400;font-size: 1.5em;">Featured Tracks</h2>
</div>
<div class="container container-cover position-relative py-3" style=" min-width:20em;background:white;">
        <div class="h-100" style="height: 92%">
                <div class="col-md-12 h-100">
                        <div class="row h-25 mb-4" style="">
                            <%include file="cardlggep.html" />
                        </div>
                        <div class="row h-25 mb-4" style="">
                            <%include file="cardlgmachine-learning.html" />
                        </div>
                        <div class="row h-25 mb-4" style="">
                            <%include file="cardlgdecision-making.html" />
                        </div>
                        <div class="row h-25 mb-4" style="">
                            <%include file="cardlgbusiness-analytics.html" />
                        </div>

                </div>
        </div>
</div>

